@keyframes scaleUp {
    from   { opacity: 0; -webkit-transform: scale(1.0); }
}

html,body,*{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    padding:0;
    margin:0;
}
a{
    color:#89b2ea;
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
a:focus{
    text-decoration:none;
}
.notify{
    position: fixed;
    top:60px;
    text-align:left;
    font-size:14px;
    right:60px;
    width:300px;
    padding:10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.loading{
    text-align:center;
    padding-top:100px;
    padding-bottom:100px;
}
.loading img{
    width:100px;
}
.button-default{
    background-color: #89b2ea;
    border: 1px #79a8e7 solid;
    color:#fff;
}
.button-default:hover{
    background-color: #79a8e7;
    border: 1px #79a8e7 solid;
    color:#fff;
    outline:0;
}
.button-default:focus{
    color:#fff;
    outline:0;
}
.button-default:active{
    color:#fff;
    outline:0;
}
.login{
    width:100%;
    height:100%;
    margin:0;
    padding-top: 150px;
    background-color:#000;
    text-align:center;
    position:fixed;
    text-align: center;
}
.login-container{
    max-width:800px;
    padding:0;
    margin:0 auto;
    width:40%;
}
.login-form{
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    padding:20px;
}
.login-title{
    font-size:16px;
    color:#333;
    font-weight: bolder;
    margin:10px 0 20px 0;
}
.clearboth{
    clear:both;
}
.login-box{
    border-bottom:1px solid #ccc;
    padding:6px 0;
    margin-top:10px;
}
.login-box input{
    font-size:13px;
    font-weight: 100;
    color:#333;
    width:100%;
    border:0;
    background-position:left;
    background-repeat:no-repeat;
    background-size:auto 100%;
    padding-left:30px;
}
.login-box input:hover{
    outline:0;
}
.login-box input:focus{
    outline:0;
}
.login-box .username{
    background-image:url(http://cdn.9beats.com/website/admin/images/username.png);
}
.login-box .password{
    background-image:url(http://cdn.9beats.com/website/admin/images/password.png);
}
.login-submit{
    margin:20px 0;
}
.clearboth{
    clear:both;
}
.header{
    background-color:#e50012;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    text-align: left;
    z-index:999;
}
.logo{
    width:60px;
    padding-top:6px;
    float:left;
}
.logo img{
    width:100%;
}
.nav-list{
    float:left;
    padding-left:20px;
}
.nav-list ul li{
    float:left;
    list-style-type:none;
    margin-right:6px;
    padding:29px 10px 4px 10px;
    position:relative;
}
.nav-list-item-s{
    border-bottom:solid #fff 3px;
}
.nav-list ul li a{
    color:#fff;
    font-size:13px;
    cursor: pointer;
}
.nav-list ul li a:hover{
    color:#efefef;
}
.nav-logout{
    float:right;
    padding-top:29px;
}
.nav-logout a{
    color:#fff;
    font-size:12px;
}
.nav-logout a:hover{
    color:#efefef;
}
.nav-logout span{
    font-size:14px;
    color:#fff;
    margin:0 6px;
}
.nav-menu{
    left:0;
    top:70px;
    background-color:#fff;
    width:140px;
    position:absolute;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    display:none;
}
.nav-menu ul li{
    padding: 6px 10px;
    width:100%;
}
.nav-menu ul li{
    font-size:13px;
    color:#666;
}
.nav-menu ul li:hover{
    background-color: #000;
    color:#fff;
}
.nav-icon{
    color:#fff;
    margin-right:4px;
}
.copyright{
    margin:26px 0;
    text-align: center;
    font-size:12px;
    color:#666;
}
.wrapper {
    padding-top:80px;
    position: relative;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
.wrapper.ng-leave {
    display: none;
}
.view-slide-in.ng-enter{
    animation: scaleUp 0.5s both ease-in;
}
.content{
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding:20px;
}
.edit-container{
    margin-top: 20px;
    padding:0 0 20px 0;
}
.edit-title{
    background-color: #000;
    padding:10px;
    color:#fff;
    font-size:16px;
    text-align:center;
}
.edit-title-return{
    position: absolute;
    top:15px;
    right:10px;
}
.edit-title-return a{
    color:#fff;
}
.edit-title-return a:hover{
    color:#efefef;
}
.edit-row{
    margin:20px;
}
.edit-row input{
    font-size:13px;
    color:#333;
    width:100%;
    border:0;
    border-bottom:1px solid #ccc;
    padding:4px;
}
.edit-row input:hover{
    outline:0;
}
.edit-row input:focus{
    outline:0;
}
.no-authority{
    padding:60px 0;
}
.no-authority div{
    text-align: center;
}
.no-authority div:nth-child(1) img{
    width:200px;
}
.no-authority div:nth-child(2){
    padding-top:20px;
}
.content-title
{
    padding-bottom:10px;
}
.content-title .content-title-text{
    float:left;
    color:#666;
    padding-left:6px;
    border-left:4px solid #000000;
}
.content-title .content-title-text {
    margin-right:6px;
    cursor:pointer;
}
.content-title .content-title-function{
    float:right;
    text-align: right;
    padding-right:4px;
}
.content-title .content-title-function span{
    font-weight:bold;
    color:#89b2ea;
}
table{
    width:100%;
}
table thead tr{
    background-color: #fbfbfb;
}
table thead tr th{
    padding:6px;
    text-align: center;
    color:#333;
    font-weight: 200;
    border:1px solid #efefef;
    font-size: 13px;
}
table tbody tr{
    cursor: pointer;
}
table tbody tr:hover{
    background-color: #fbfbfb;
}
table tbody tr td{
    padding:6px;
    border:1px solid #efefef;
    font-size: 13px;
}
.item-out{
    padding:10px;
    text-align:center;
}
.item-content{
    background-color:#fff;
    cursor: pointer;
    padding:10px 0 20px 0;
    border: 1px solid #ddd;
}
.item-content:hover{
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.edit-upload-plus{
    position: absolute;
    top:35%;
    width: 100%;
    text-align: center;
}
.upload-file input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    height:40px;
}
.upload-file span{
    margin-left:6px;
    color:#000;
    font-size:60px;
    filter:alpha(opacity=50);
    -moz-opacity:0.50;
    opacity:0.50;
}
.upload-bg{
    background-position:top;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.upload-pro-con{
    padding:0 10px;
    position: absolute;
    top:45%;
    width: 100%;
    text-align: left;
    display: none;
}
.upload-pro-border{
    border:1px solid #ccc;
}
.upload-progress{
    width:0%;
    height:20px;
    background-color: #89b2ea;
}
.modify-item-img img{
    width:100%;
}
.modify-item-status{
    padding:16px 0 0 0;
}
.modify-item-status-0{
    background-color: #32c052;
    padding:6px 10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 12px;
}
.modify-item-status-1{
    background-color: #ccc;
    padding:6px 10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 12px;
}
.modifyy-edit-out{
    margin-top:20px;
}
.modify-img-out{
    width:100%;
    padding:0 20px;
}
.modify-img-title{
    font-size:12px;
    color:#666;
    margin-bottom:6px;
}
.modify-img-border{
    width:100%;
    padding-top:75%;
    position:relative;
}
.modify-edit-status{
    float:left;
    margin:0 10px 0 4px;
    color:#666;
    font-size: 13px;
}
.modify-item-img img{
    width:90%;
    height:90%;
}
.modify-item-name{
    font-size:14px;
    font-weight: 600;
    color:#333;
    margin-top:6px;
}
.modify-item-status{
    padding:16px 0;
    border-bottom: 1px solid #dddddd;
}
.modify-item-status-1{
    background-color: #32c052;
    padding:6px 10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 12px;
}
.modify-item-status-0{
    background-color: #ccc;
    padding:6px 10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 12px;
}

.article-img-out{
    width:100%;
    padding:10px 20px;
}
.article-img-title{
    font-size:12px;
    color:#666;
    margin-bottom:6px;
}
.article-img-border{
    width:100%;
    padding-top:56%;
    border:3px dotted #ddd;
    position:relative;
}
.live-img-out{
    width:100%;
    padding:10px 20px;
}
.live-img-title{
    color:#333;
    font-weight: 500;
    margin-bottom:6px;
}
.live-img-border{
    width:100%;
    padding-top:56%;
    border:3px dotted #ddd;
    position:relative;
}
.live-form{

    padding-top:10px;

}
.live-form-title{
    color:#333;
    font-weight: 500;
    margin-bottom:6px;
}
.gift-item-img img{
    width:100px;
    height:100px;
}
.gift-item-name{
    font-size:14px;
    font-weight: 600;
    color:#333;
    margin-top:6px;
}
.gift-item-status{
    padding:16px 0;
    border-bottom: 1px solid #dddddd;
}
.gift-item-status-0{
    background-color: #32c052;
    padding:6px 10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 12px;
}
.gift-item-status-1{
    background-color: #ccc;
    padding:6px 10px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-size: 12px;
}
.gift-item-num{
    padding-top: 20px;
}
.gift-item-num div{
    text-align: center;
    padding:0;
}
.gift-item-num-icon{
    font-size:16px;
    font-weight:600;
}
.gift-item-num-num{
    font-size:12px;
    margin-top:10px;
}
.gift-edit-status{
    float:left;
    margin:0 10px 0 4px;
    color:#666;
    font-size: 13px;
}
.gift-edit-upload{
    float:left;
    width:33%;
}
.gift-edit-upload.img{
    padding-right:10px;
}
.gift-edit-upload.zip{
    padding-left: 10px;
}
.gift-edit-upload-title{
    color:#666;
    font-size:13px;
    font-weight: 100;
    padding: 0 0 4px 4px;
}
.gift-edit-upload-item{
    width:100%;
    border:3px dotted #ddd;
    padding-top:100%;
    position:relative;
}



