        /*
        头部导航栏*/
        
        .topbox {
            width: 100%;
            margin-top: 0;
            padding-bottom:30px;    // 公共头部
        }
        
        .mainbox {
            background: white;
            padding: 40px;
        }
        .big_content{
         margin-top:30px;
        }
        //添加点击状态的颜色
        .add_class {
            color: #363F4C;
            font-weight: bolder;
        }
        
        // 盒子去除padding值
        .content {
            display: flex;
            height: 80px;
            padding: 0;
            color: #596980;
            font-size: 18px;
            .contentlist {
                color: #7D93B2;
                font-size: 18px;
                margin: 0 20px;
                text-align: center;
                line-height: 80px;
                cursor: pointer;
                &:first-child {
                    margin-left: 40px;
                }
            }
        }
        /*
头部之下的导航栏
*/
        
        .maintop-one {
            margin: 0 0 40px 0;
            display: flex;
            justify-content: space-between;
            height: 60px;
            background: #DEE5EE;
            font-size: 16px;
            span {
                margin: 0 20px 0 20px;
                width: 105px;
                text-align: center;
                line-height: 60px;
                a {
                    color: #287AF2;
                    font-size: 16px;
                }
            }
        }
        /*
状态选择
*/
        
        .mainstyle {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            .icon {
                width: 400px;
                padding-left: 250px;
                // flex-direction: column-reverse;
            }
            .mainstyleone{
                span{
                    margin-left:30px;
                    color:#287AF2;
                    line-height: 30px; 
                    cursor:pointer;
                }
            }
        }
        /*
表格
*/
        
        .table-list {
            tr{
                th{
                    font-weight:800;
                    border: 1px solid #C5D1E2;
                }
            }
            td {
                border: 1px solid #C5D1E2;
                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .table_bottom_p{  // 新增一行的样式样式
            width:100%;
            height:60px;
            line-height:60px;
            text-align:center;
            border:1px dashed #C5D1E2;;
            border-top:0;
            cursor:pointer;
            span{
                color:#287af2;
                vertical-align: middle;
                font-size:14px;
                margin-left:5px;
            }
        }
        .changestyle{
            display: flex;
            a{
                line-height: 53px;
                width: 53px;
                color:#287AF2 ;
            }
        }

/*
    订单表格
*/
